@media screen and (min-width: 900px) {
  .main {
  }
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    padding: 0 3vw;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .logo {
    height: 80px;
    /* width: 150px; */
    object-fit: cover;
  }
  .logo1 {
    height: 130px;
    /* width: 150px; */
    object-fit: cover;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .tagline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 5px;
  }
  .title p {
    font-size: 13px;
    font-weight: 530;
  }
  .name {
    font-size: 50px;
  }
  .name::first-letter {
    color: rgb(224, 84, 84);
  }
  .list li {
    font-size: 14px;
    font-weight: 530;
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 520px;

    /* background-color: #e4caca; */
    background-image: url("https://i.pinimg.com/564x/68/a3/7f/68a37f27fdcaef85ddef6b7e018540c0.jpg");
    /* background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(250, 247, 247),
      rgb(255, 255, 255)
    ); */
    background-repeat: no-repeat;
    padding: 0 9vw;
    background-size: cover;
  }
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 40vw;
    border-radius: 5px;
    background-color: rgba(102, 129, 136, 0.95);
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 20px 0;

    box-shadow: rgb(255, 255, 255) 0px 0px 3px 1.3px;
  }
  .icons {
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8vw;
    padding-top: 30px;
  }
  .icon {
    font-size: 36px;
    color: rgb(255, 255, 255);
  }
  .h21 {
    padding: 0 5vw;
    font-size: 22px;
    font-weight: 570;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .h22 {
    padding: 0 5vw;
    font-size: 25px;
    font-weight: 570;
    text-align: center;
    color: rgb(200, 200, 15);
  }
  .h23 {
    padding: 10px 5vw;
    font-size: 37px;
    font-weight: 570;
    text-align: center;
    border-top: 2px solid white;
    color: rgb(255, 255, 255);
  }

  .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 30vw;
    border-radius: 5px;
    background-color: rgba(102, 129, 136, 0.95);

    /* padding: 20px 0; */

    box-shadow: rgb(255, 255, 255) 0px 0px 3px 1.3px;
  }
  .h31 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(61, 61, 130, 0.5); */
    height: 60px;
    width: 100%;
    color: white;
    font-size: 21px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .input,
  .input:focus {
    height: 50px;
    width: 25vw;
    padding: 0 20px;
    border: none;
    background-color: rgb(165, 190, 193);
    border-radius: 5px;
  }
  .bottom {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .bottom p {
    font-size: 32px;
    font-weight: 500;
    color: red;
  }
  .btn {
    height: 40px;
    width: 25vw;
    background-color: rgb(11, 49, 49);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .grid {
    padding: 10px 8vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .grid2 {
    padding: 10px 8vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .grid3 {
    padding: 10px 8vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 5vw;
    background-color: #2e2e2e;
    margin-top: 30px;
  }
  .footer p {
    color: white;
    padding-right: 40vw;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .main {
  }
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    padding: 0 3vw;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .logo {
    height: 80px;
    /* width: 150px; */
    object-fit: cover;
  }
  .logo1 {
    height: 130px;
    /* width: 150px; */
    object-fit: cover;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .tagline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 5px;
  }
  .title p {
    font-size: 13px;
    font-weight: 530;
  }
  .name {
    font-size: 50px;
  }
  .name::first-letter {
    color: rgb(224, 84, 84);
  }
  .list li {
    font-size: 14px;
    font-weight: 530;
  }
  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 880px;

    /* background-color: #e4caca; */
    background-image: url("https://i.pinimg.com/564x/68/a3/7f/68a37f27fdcaef85ddef6b7e018540c0.jpg");
    /* background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(250, 247, 247),
      rgb(255, 255, 255)
    ); */
    background-repeat: no-repeat;
    padding: 0 9vw;
    background-size: cover;
  }
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 90vw;
    border-radius: 5px;
    background-color: rgba(102, 129, 136, 0.95);
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 20px 0;

    box-shadow: rgb(255, 255, 255) 0px 0px 3px 1.3px;
  }
  .icons {
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8vw;
    padding-top: 30px;
  }
  .icon {
    font-size: 36px;
    color: rgb(255, 255, 255);
  }
  .h21 {
    padding: 0 5vw;
    font-size: 22px;
    font-weight: 570;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .h22 {
    padding: 0 5vw;
    font-size: 25px;
    font-weight: 570;
    text-align: center;
    color: rgb(200, 200, 15);
  }
  .h23 {
    padding: 10px 5vw;
    font-size: 37px;
    font-weight: 570;
    text-align: center;
    border-top: 2px solid white;
    color: rgb(255, 255, 255);
  }

  .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 90vw;
    border-radius: 5px;
    background-color: rgba(102, 129, 136, 0.95);

    /* padding: 20px 0; */

    box-shadow: rgb(255, 255, 255) 0px 0px 3px 1.3px;
  }
  .h31 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(61, 61, 130, 0.5); */
    height: 60px;
    width: 100%;
    color: white;
    font-size: 21px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .input,
  .input:focus {
    height: 50px;
    width: 70vw;
    padding: 0 20px;
    border: none;
    background-color: rgb(165, 190, 193);
    border-radius: 5px;
  }
  .bottom {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .bottom p {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: red;
  }
  .btn {
    height: 40px;
    width: 70vw;
    background-color: rgb(11, 49, 49);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .grid {
    padding: 10px 3vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .grid2 {
    padding: 10px 3vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .grid3 {
    padding: 0px 3vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 5vw;
    background-color: #2e2e2e;
    margin-top: 10px;
  }
  .footer p {
    color: white;
    padding-right: 10vw;
  }
}
@media screen and (max-width: 520px) {
  .main {
  }
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    padding: 0 3vw;
    box-shadow: rgb(230, 230, 230) 0px 0px 4px 1.3px;
  }
  .logo {
    height: 80px;
    /* width: 150px; */
    object-fit: cover;
  }
  .logo1 {
    height: 130px;
    /* width: 150px; */
    object-fit: cover;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .tagline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 5px;
  }
  .title p {
    font-size: 13px;
    font-weight: 530;
  }
  .name {
    font-size: 50px;
  }
  .name::first-letter {
    color: rgb(224, 84, 84);
  }
  .list li {
    font-size: 14px;
    font-weight: 530;
  }
  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 880px;

    /* background-color: #e4caca; */
    background-image: url("https://i.pinimg.com/564x/68/a3/7f/68a37f27fdcaef85ddef6b7e018540c0.jpg");
    /* background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(250, 247, 247),
      rgb(255, 255, 255)
    ); */
    background-repeat: no-repeat;
    padding: 0 9vw;
    background-size: cover;
  }
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 90vw;
    border-radius: 5px;
    background-color: rgba(102, 129, 136, 0.95);
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 20px 0;

    box-shadow: rgb(255, 255, 255) 0px 0px 3px 1.3px;
  }
  .icons {
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 8vw;
    padding-top: 30px;
  }
  .icon {
    font-size: 36px;
    color: rgb(255, 255, 255);
  }
  .h21 {
    padding: 0 5vw;
    font-size: 22px;
    font-weight: 570;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .h22 {
    padding: 0 5vw;
    font-size: 25px;
    font-weight: 570;
    text-align: center;
    color: rgb(200, 200, 15);
  }
  .h23 {
    padding: 10px 5vw;
    font-size: 37px;
    font-weight: 570;
    text-align: center;
    border-top: 2px solid white;
    color: rgb(255, 255, 255);
  }

  .div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 90vw;
    border-radius: 5px;
    background-color: rgba(102, 129, 136, 0.95);

    /* padding: 20px 0; */

    box-shadow: rgb(255, 255, 255) 0px 0px 3px 1.3px;
  }
  .h31 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(61, 61, 130, 0.5); */
    height: 60px;
    width: 100%;
    color: white;
    font-size: 21px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .input,
  .input:focus {
    height: 50px;
    width: 70vw;
    padding: 0 20px;
    border: none;
    background-color: rgb(165, 190, 193);
    border-radius: 5px;
  }
  .bottom {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .bottom p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: red;
  }
  .btn {
    height: 40px;
    width: 70vw;
    background-color: rgb(11, 49, 49);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .grid {
    padding: 10px 3vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .grid2 {
    padding: 10px 3vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .grid3 {
    padding: 10px 3vw;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px 5vw;
    background-color: #2e2e2e;
    margin-top: 10px;
  }
  .footer p {
    color: white;
    text-align: center;
    padding-right: 3vw;
    padding: 10px 0;
  }
}
